.container {
  width: 70%;
  margin: 0px auto;
}

.calender-wrap {
  padding: 50px 0px;
}

.calender-section {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 70px);
  gap: 5px;
  justify-content: center;
  align-self: center;
}

.calender {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  box-shadow: 2px 2px 2px 0px #e3e3e3;
  border-right: 1px solid rgb(155, 54, 255);
  border-left: 1px solid rgb(155, 54, 255);
}
.day {
  background-color: rgb(155, 54, 255);
  border: 1px solid rgb(136, 19, 252);
  color: white;
}
